# Created by .ignore support plugin (hsz.mobi)
### Java template

.gitignore
.idea/codeStyleSettings.xml
.idea/sonarlint/
.idea/workspace.xml
out/
/src/main/com/eldar/FailedTrials.java
/src/main/com/eldar/ScratchPaper.java
/interview prep problems.iml
/.idea/
/src/test/com/eldar/PickRandPointInRectangleTest.java
/src/main/com/eldar/commonDataStructs/PickRandPointInRectangle.java
